<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.microservice.dao.ShopPayMapper">

	<select id="findPayOrderByPayOrderNo"
		resultType="com.microservice.entities.PayOrder">
		SELECT * FROM pay_order
	</select>

	<select id="findPayOrderByUserName"
		resultType="com.microservice.entities.PayOrder">
		SELECT * FROM
		pay_order WHERE user_name=#{userName}
	</select>

	<insert id="insertShopPay">
		INSERT INTO
		pay_order(pay_order_no,user_name,full_name,pay_type,order_no,
		amount,create_time,update_time)VALUES(#{payOrderNo},#{userName},#{fullName},
		#{payType},#{orderNo},#{amount},now(),now())
	</insert>

	<delete id="deleteShopPayByOrderNo">
		DELETE FROM pay_order WHERE
		pay_order_no=#{payOrderNo}
	</delete>




</mapper>	
	
