<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.microservice.dao.UserAccountMapper">

	<insert id="insertUserAccount">
		INSERT INTO user_account(user_id,user_name,full_name,balance,interger,create_time,update_time)
		VALUES(#{userId},#{userName},#{fullName},#{balance},#{integral},now(),now())
	</insert>
	
	
	<select id="findUserAccountByUserNameAndPayPassword" resultType="com.microservice.entities.UserAccount">
		SELECT * FROM user_account WHERE user_name=#{userName} AND pay_password=#{payPassword}	
	</select>
	
	<update id="updateUserAccountByUserName">
		UPDATE user_account SET balance=#{balance},integral=#{integral},update_time=now()
		WHERE user_name=#{userName}
	</update>
	
	<select id="findUserAccountByUserName"  resultType="com.microservice.entities.UserAccount">
		SELECT * FROM user_account WHERE user_name=#{userName}
	</select>
	
	<delete id="deleteUserAccount">
		DELETE FROM user_account WHERE user_name=#{userName}
	</delete>
	

		
</mapper>	
	
