<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.microservice.dao.ProductMapper">



	<!-- 根据categoryCode查具体商品 -->
	<select id="findProductByCategoryCode" resultType="Product">
		SELECT product_id,product_name,category_code,price,descript,product_img,stock FROM product_info WHERE category_code=#{categoryCode}
	</select>
	
	<select id="findProductById" resultType="Product">
		SELECT * FROM product_info WHERE product_id = #{productId}
	</select>
	
	
	<insert id="insertProduct" parameterType="com.microservice.entities.Product">
		INSERT INTO product_info(product_id,product_name,category_code,price,descript,product_status,product_img,stock,category_id,category_name,brand_id,brand_name,create_time,update_time)
		VALUES (#{productId},#{productName},#{categoryCode},#{price},#{descript},#{productStatus},#{productImg},#{stock},#{categoryId},#{categoryName},#{brandId},#{brandName},now(),now());
	</insert>
	
	<delete id="deleteProductById">
		DELETE FROM product_info WHERE product_id = #{productId}
	</delete>
	
	<update id="updateProduct">
		UPDATE product_info
		SET product_name =#{productName},
		category_code=#{categoryCode},price=#{price},descript=#{descript},
		product_status=#{productStatus},product_img=#{productImg},
		stock=#{stock},category_id=#{categoryId},category_name=#{categoryName},
		brand_id=#{brandId},brand_name=#{brandName},update_time=now()
		WHERE product_id=#{productId}
	</update>
	
	
	
	

</mapper>